@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Popins' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #121829;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}
#root{
  overflow: hidden;
}

body[data-theme='dark']{
  --color: #fff;
  --primary400: #7b6ef6;
  --primary200: #beb7fb;
  --gray700: #323B54;
  --gray600: #475069;
  --gray300: #8e95a9;
  --gray200: #A8AEBF;
  --gray50: #ebeef5;
  --black10: rgba(0, 0, 0, 0.1);
}
body[data-theme='white']{
  --color: #fff;
  --primary400: #7b6ef6;
  --primary200: #beb7fb;
  --gray700: #323B54;
  --gray600: #475069;
  --gray300: #8e95a9;
  --gray200: #A8AEBF;
  --gray50: #ebeef5;
  --black10: rgba(0, 0, 0, 0.1);

}

*{
  -webkit-tap-highlight-color: transparent;
}
