@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Popins' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #121829;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}
#root{
  overflow: hidden;
}

body[data-theme='dark']{
  --color: #000;
  --primary200: #beb7fb;
  --gray200: #A8AEBF;
}
body[data-theme='white']{
  --color: #fff;
  --primary200: #beb7fb;
  --gray200: #A8AEBF;

}
